<script type="text/javascript">
    $(document).ready(function () {
        $("#btnCadastrar").click(function () {
            debugger
            var envio = "{BancoContaCorrente:'" + $("#banco").val().toUpperCase() + "',AgenciaContaCorrente:'" + $("#agencia").val()
                + "',ContaContaCorrente:'" + $("#conta").val() +"'}";
            var json = eval("(" + envio + ')');

            $.ajax({
                url: "Create",
                data: JSON.stringify(json),
                type: "POST",
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                success: function (result) {
                    if (result.success) {
                        alertify.alert("Conta Corrente criada com sucesso!", function (e) {
                            if (e) {
                               window.location.href = "@Url.Action("Index", "ContaCorrente")";
                            }
                        });
                    } else {
                        alertify.error("Ocorreu um erro");
                    }
                },
                error: function (error) {
                    var data = JSON.parse(error.responseText);
                    var i = 0;
                    while (data[i] != null) {
                        alertify.error(data[i]['errors']);
                        i++;
                    }
                }
            });

        });
    });
</script>



<h2>Cadastrar Nova Conta Corrente</h2>
<hr />

<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2">Banco</label>
        <div class="col-md-10">
            <input type="text" id="banco" class="Upper form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Agência</label>
        <div class="col-md-10">
            <input type="text" id="agencia" class="Upper form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Conta</label>
        <div class="col-md-10">
            <input type="text" id="conta" class="Upper form-control" />
        </div>
    </div>

    <br />

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input class="btn btn-success" type="submit" id="btnCadastrar" value="Cadastrar" />
        <a href="~/ContaCorrente/Index" type="button" class="btn btn-primary">Voltar</a>
    </div>
</div>