
<hr />


<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-2 ElementosIndex">
        <a href="~/Pessoa/Index">
            <img src="~/img/pessoas.png" class="imgIndex">
        </a><h5>⠀Buscar Pessoa</h5>
    </div>

    <div class="col-md-2 ElementosIndex">
        <a href="~/Pessoa/Create">
            <img src="~/img/addpessoa.png" class="imgIndex">
        </a><h5>⠀Nova Pessoa</h5>
    </div>

    <div class="col-md-2 ElementosIndex">
        <a href="~/UnidadeNeg/Index">
            <img src="~/img/itens.jpg" class="imgIndex">
        </a><h5>⠀Unidade Neg</h5>
    </div>

    <div class="col-md-2 ElementosIndex">
        <a href="~/PlanoDeConta/Index">
            <img src="~/img/tipodeconta.png" class="imgIndex">
        </a><h5> Plano De Conta </h5>
    </div>

    <div class="col-md-2"></div>

</div>
<hr />
<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-2 ElementosIndex">
        <a href="~/ModoPagamento/Index">
            <img src="~/img/pagamento.jpg" class="imgIndex">
        </a><h5>⠀Forma Pagamento </h5>
    </div>

    <div class="col-md-2 ElementosIndex">
        <a href="~/Caixa/Index">
            <img src="~/img/caixa.png" class="imgIndex">
        </a><h5>⠀Caixa </h5>
    </div>

    <div class="col-md-2 ElementosIndex">
        <a href="~/Lancamento/NovoLancamento">
            <img src="~/img/financeiro.png" class="imgIndex">
        </a><h5>⠀Novo Título </h5>
    </div>

    <div class="col-md-2 ElementosIndex">
        <a href="~/Usuario/Sair">
            <img src="~/img/sair.png" class="imgIndex">
        </a><h5> Sair </h5>
    </div>

    <div class="col-md-2"></div>

</div>